.Home_main{
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: rgb(231, 231, 231);
}
.h_header2{
    position: relative;
    overflow-x: clip;
    width: 100%;
    height: 20vw;
    min-height: 220px;
    background-size: cover;
    background-position: center;

}
.profpage{
    display: flex;
    align-items: center;
    justify-content: center;
    top: 70px;
    left: 10px;
    position: relative;
    height: 12vw;
    min-height: 120px;
    background-color: white;
    border-radius: 20px;
    min-width: 240px;
    width: 27vw;
}
.profile11 {
    margin: 20px 0 0 20px;
    width: 150px;
    height: 150px;
  }
.img22 {

    position: relative;
    z-index: 10;
    width: 150px !important;
    height: 150px !important;
    border-radius: 100%;
  }
  .desc{
      width: 80%;
      margin-top: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }
  .participants{
      margin-top: 25px;
  }
.bio{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 220px);
      position: absolute;
      left: 20vw;
      top: 40px;  
    }
@media only screen and (max-width: 900px){
    .bio{
        left: 220px;
    }
}
@media only screen and (max-width: 700px){
    .h_header2{
        height: 30vw;
    }

    .img22{

        width: 90px !important;
        height: 90px !important;

    }
    .profile1 {
        margin: 10px 0 0 10px;
        width: 90px;
        height: 90px;
      }
      .bio{
        width: calc(100% - 150px);
        left: 120px;
        top: 20px;  
      }
      .desc{
        margin-top: -15px;
    }
    .participants{
        margin-top: 0px;
    }
}
.h_body2{
    width: 69.5%; 
    background-color: white;
    margin: 0 auto;
}
.h_hbody2{
    position: relative;
    padding: 6px;
    width: 100%;


}
@media only screen and (max-width: 700px){
    .h_body2{        
        width: 90%;
    }
    .h_hbody2{

    }
    .rate{
        margin-top: -20px !important;
    }
}
.loader{
    height: 180px;
    width: 180px;
    background-size: cover;
    background-image: url(../../static/loader.gif)
}
.sslozac4{
    transform: scale(1)rotate(-45deg);
    cursor: pointer;
    background-image: url(../../static/home.png);
    background-position: center;
    background-size: cover;
}
.tags{
    margin-top: 10px;
    padding:0 10px;
    width: 100%;
    overflow-x: auto;
}
