.home_header21{
    white-space: nowrap;
    overflow: hidden;
    padding: 12px 0 0 60px;
    font-size: 1.25rem;
    text-overflow: ellipsis;
    width: 100%;
    height: 60px;
    margin-left: 0%;
    color:rgb(0, 0, 0,.60);
    font-weight: bold;
    background-color: white;
    margin-bottom: 0px;
    border-bottom: 2px solid rgb(231,231,231);
}

.home_main1{
    /* background-color: cyan; */
}
.H_M_head1{
    border-top-left-radius: 50%;
    align-items: center;
    text-align: center;
    background-color: white;
    height: 190px;
}
.H_M_head1div{
    position: relative;
    border-top-left-radius: 50%;
    align-items: center;
    text-align: center;
    background-color: white;
    height: 190px;
    right:100%;
}
.H_M_head2{
    border-top-left-radius: 0%;
    align-items: center;
    text-align: center;
    height: 190px;
}
.ffont{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.profileVPic{

    padding: 7px;
    border-radius: 100%;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top:-60px;
    width: 200px;
    height: 200px;



}
.profileVPic::before{
    content: "";
    border-radius: 100%;
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url(../../static/pro_b.png);
    background-size: cover;
    z-index: 0;
}
.img1{
    position: relative;
    z-index: 10;
    width: 185px !important;
     height: 185px !important;
      border-radius: 100% ;
}

.h_grid1{

    border-left: 1px solid rgb(231,231,231) ;
    text-align: center;
    background-color:white;
}
.h_grid2{
    border-left: 1px solid rgb(231,231,231) ;
    min-height: 190px;
    background-color:rgb(244, 244, 244);
    padding: 10px;
}
.h1_grid{

    background-color:white;
}
.hback1{
    margin: 20px auto 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
}
@media only screen and (max-width: 600px)
{
    .H_M_head1{
        border-top-left-radius: 40%;
    }
    .H_M_head1div{
        Top: -70px;
        right: 0;
        border-top-left-radius: 0%;
    }
    .H_M_head2{
        height: 120px;
        border-top-left-radius: 0%;
    }
    .profile1{
        margin-left: 10%;
        width: 120px;
        height: 120px;
    }
    .profileVPic{
        Top:-250px;
        width: 150px;
        height: 150px;
    }
    .img1{
        top:100;
        width: 136px !important;
        height: 136px !important;
    }
    .h_grid1{
        border-bottom: .5px solid rgb(231,231,231) ;

        background-color:white;
    }

    .home_header21{
        width: 100%;
        margin-left:0% ;
        margin-top: 0;
    }
}
